@import url("https://fonts.googleapis.com/css?family=Bree+Serif");

/*Formato del cuerpo de la pagina*/
body {
  font-family: "Bree Serif";
  margin: 0;
  text-align: center;
  background: url("https://assets.adnradio.cl/2022/05/Concierto-925x470.jpg") no-repeat center center fixed;
  background-size:cover;
 
}

/*Formato de las teclas en general*/
.keys {
  margin: 100px auto;
  margin-top: 200px;
  max-width: max-content;
  overflow: hidden;
  cursor: pointer;
}

/*Formato de cada tecla en individual*/
.key {
  width: 100px;
  height: 100px;
  margin: 20px;
  float: left;
  transition: all 0.07s;
  border-radius: 5px;
}

/*Animación al tocar cada tecla*/
.playing {
  box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.3);
  
}
/*Formato de cada caja*/
kbd {
  display:grid;
  padding-top: 30px;
  font-size: 60px;
  color: black;
  text-shadow: 2px 2px 2px whiteas;
}